@function generateStars ($amount) {
  $color: #E98074;
  $value: ();
  @for $i from 2 through $amount {
    $offset-x: random(2000) + px;
    $offset-y: random(2000) + px;
    $all-properties: $offset-x $offset-y $color;
    $value: append($value, $all-properties, comma);
  }
  @return $value;
}

$shadows-small: generateStars(700);
$shadows-medium: generateStars(200);
$shadows-large: generateStars(100);

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #EAE7DC;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}


.background__stars--small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.background__stars--medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.background__stars--large {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-large;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-large;
  }
}

span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px)
  }
  to {
    transform: translateY(-2000px)
  }
}

;
