.navigation {
  color: #8E8D8A;
  margin-top: 5%;
  list-style-type: none;
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  font-size: 20px;
}

.navigation li {
  cursor: pointer;
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.navigation__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;

  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover:after {
    width: 100%;
    left: 0;
  }
}


@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}